.banners {
  .content {
    min-height: 0 !important;
    height: 100%;

    .box-body {
      height: calc(100% - 50px);
      display: flex;
      align-items: center;
      justify-content: center;

      .inputSearch {
        width: 100% !important;
      }

      .slecteSearch {
        display: none !important;
      }

      .el-button {
        font-size: 20px;
      }
    }

    .box-tools {
      top: 0;
    }

    .d-flex {
      display: flex;
      justify-content: space-between;

      .box-warning {
        width: 85%;
      }

      .box-success {
        text-align: center;
        width: 14%;
      }
    }

    .el-table {
      .cell {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }
    }
  }
}

.el-checkbox {
  margin-bottom: 0;
}

.el-checkbox__inner {
  width: 22px;
  height: 22px;
  transition: none;

  &:hover {
    border-color: #8bc34a;
  }
}

.el-checkbox__input.is-focus {
  .el-checkbox__inner {
    border-color: #8bc34a;
  }
}

.el-checkbox__input.is-checked {
  .el-checkbox__inner {
    width: 22px;
    height: 22px;
    background-color: #4caf50;
    border-color: #8bc34a;

    &:after {
      height: 14px;
      left: 45%;
      transition: none;
    }
  }
}
